*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.bcf
*.fdb_latexmk
*.fls
*.pdf
!JA-0008-12.24.pdf
!Conference-Building-Framework.pdf
*.svg
*.run.xml
*.synctex.gz
